/data/Ebnerd_demo/
/data/Ebnerd_small/
/data/Ebnerd_large/
/data/Preprocessed_Ebnerd_demo/
/data/Preprocessed_Ebnerd_small/
/data/Preprocessed_Ebnerd_large/
/notebooks/
/.venv/
/.pytest_cache/
/data/saved_data/
/checkpoints/
/logs/
.idea
.DS_Store
/data/Preprocessed_Ali-CCP/
/data/Ali-CCP/
/data/AliExpress-US/
/data/Preprocessed_AliExpress_US/
/data/AliExpress_US/
/experiments/
